<div class="row title">
    <div class="col s12">
        <h1>Signatories</h1>
    </div>
</div>
<div class="row signatories">
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatory/id']">
                <img src="#" alt="[alt]"/>
            </a>
        </div>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
