<div class="row title">
    <div class="col s12">
        <h1>Signatories</h1>
    </div>
</div>

<form role="form" [formGroup]="searchForm" (submit)="search()">
    <div class="row search margin-bottom">
        <div class="col s12 m4 l6">
            <div class="form-group">
                <h4><label class="control-label" for="query">Search</label></h4>
                <input type="text" id="query" class="form-control validate" formControlName="query" placeholder="Search for a charter signatory" />
            </div>
        </div>
        <div class="col s6 m4 l3">
            <div class="form-group">
                <h4><label for="sector" class="control-label">Sector</label></h4>
                <select class="browser-default" formControlName="sector">
                    <option disabled="disabled">Choose a sector</option>
                    <option *ngFor="let term of sectors" [value]="term.term | slugify" [innerHTML]="term.term"></option>
                </select>
            </div>
        </div>
        <div class="col s6 m4 l3">
            <div class="form-group">
                <h4><label for="category" class="control-label">Category</label></h4>
                <select class="browser-default" formControlName="category">
                    <option disabled="disabled">Choose a category</option>
                    <option *ngFor="let term of categories" [value]="term.term | slugify" [innerHTML]="term.term"></option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="row signatories">
    <div *ngFor="let signatory of signatories" class="col s6 m4 l3">
        <div class="inner">
            <a [routerLink]="['/signatories', signatory._source.organisation | slugify]" title="{{signatory._source.organisation}}" *ngIf="signatory._source.logo">
                <img src="{{signatory._source.logo.Url}}" alt="{{signatory._source.organisation}}" class="responsive-img resize-fit-center" />
            </a>
        </div>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
