<div class="row title">
    <div class="col s12 m5">
        <h1>Sign The Charter &amp; Skill Up for Scotland</h1>
        <p>
            Making your charter commitment is simple. Just sign up using the
            form below and take a step towards a digitally smarter Scotland.
            We really value your support.
        </p>
    </div>
    <div class="col hide-on-small-only offset-m1 m5">
        <img src="/app/assets/images/illustrations/Sign-Charter-RGB-04.png" alt="Sign up illustration" class="responsive-img" />
    </div>
    <div class="col hide-on-small-only m1">
        &nbsp;
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
<div class="row title">
    <div class="col hide-on-small-only m4 offset-m1">
        <img src="/app/assets/images/illustrations/Eligibility-RGB-04.png" alt="Eligibility illustration" class="responsive-img" />
    </div>
    <div class="col hide-on-small-only m1">
        &nbsp;
    </div>
    <div class="col s12 m6">
        <h1>Eligibility</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse ut quam neque. Sed sit amet elementum dolor.
            Nam ante odio, accumsan nec mollis eget, pellentesque quis erat.
            Aenean lorem diam, rutrum id scelerisque in, cursus ut orci. Morbi
            tellus orci, interdum ullamcorper enim at, convallis accumsan
            turpis. Praesent massa ipsum, mattis sit amet pretium non, ornare
            non magna. Integer nibh nisl, ornare et lorem sit amet, efficitur
            tincidunt urna. In eu porta nibh, sit amet finibus mauris. Nam at
            libero eu odio varius fermentum et a libero.
        </p>
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
<div class="row description">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <a href="http://forms.scvo.org.uk/s3/charter-sign-up" class="btn btn-primary">Okay, let's get started</a>
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
