<div class="row title">
    <div class="col s12 m6">
        <h1>Skill Up Scotland</h1>
        <p>
            When you sign Scotland's Digital Participation Charter, we ask you
            to commit to five key pledges - allowing Scotland to work together
            and skill up our digital nation.
        </p>
    </div>
    <div class="col hide-on-small-only m5">
        <img src="/app/assets/images/illustrations/Skill-Up-Scotland-RGB-04.png" alt="Skill Up Scotland illustration" class="responsive-img" />
    </div>
    <div class="col m1">
        &nbsp;
    </div>
</div>
<hr />
<div class="row title">
    <div class="col hide-on-small-only offset-m1 m4">
        <img src="/app/assets/images/illustrations/History-RGB-04.png" alt="Our History illustration" class="responsive-img" />
    </div>
    <div class="col m1">
        &nbsp;
    </div>
    <div class="col s12 m6">
        <h1>Our History</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
<hr />
<div class="row title">
    <div class="col s12 m6">
        <h1>Digital Skills</h1>
    </div>
    <div class="col hide-on-small-only offset-m2 m4">
        <!-- [ladder illustration] -->
    </div>
</div>
<hr class="nomargin" />
<div class="row expand">
    <div class="col s2 m1">
        <h3>
            <a [routerLink]="['/the-charter']">
                <span class="number">1</span>
            </a>
        </h3>
    </div>
    <div class="col s10 m5">
        <h3>
            <a [routerLink]="['/the-charter']">
                Skill Up
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            <a [routerLink]="['/the-charter']">
                We ensure that our staff &amp; volunteers have the opportunity
                to develop basic digital skills.
            </a>
        </p>
    </div>
</div>
<hr class="nomargin" />
<div class="row expand">
    <div class="col s2 m1">
        <h3>
            <a [routerLink]="['/the-charter']">
                <span class="number">2</span>
            </a>
        </h3>
    </div>
    <div class="col s10 m5">
        <h3>
            <a [routerLink]="['/the-charter']">
                Support Staff
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            <a [routerLink]="['/the-charter']">
                We support our staff &amp; volunteers to help others learn basic
                digital skills and embrace digital tools.
            </a>
        </p>
    </div>
</div>
<hr class="nomargin" />
<div class="row expand">
    <div class="col s2 m1">
        <h3>
            <a [routerLink]="['/the-charter']">
                <span class="number">3</span>
            </a>
        </h3>
    </div>
    <div class="col s10 m5">
        <h3>
            <a [routerLink]="['/the-charter']">
                Support Scotland
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            <a [routerLink]="['/the-charter']">
                We support our nation by contributing resources and practical
                support for Scotland in whatever ways we can.
            </a>
        </p>
    </div>
</div>
<hr class="nomargin" />
<div class="row expand">
    <div class="col s2 m1">
        <h3>
            <a [routerLink]="['/the-charter']">
                <span class="number">4</span>
            </a>
        </h3>
    </div>
    <div class="col s10 m5">
        <h3>
            <a [routerLink]="['/the-charter']">
                Back to Basics
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            <a [routerLink]="['/the-charter']">
                We support a common language based on digital participation and
                basic digital skills to make our thinking and actions as clear
                as possible.
            </a>
        </p>
    </div>
</div>
<hr class="nomargin" />
<div class="row expand">
    <div class="col s2 m1">
        <h3>
            <a [routerLink]="['/the-charter']">
                <span class="number">5</span>
            </a>
        </h3>
    </div>
    <div class="col s10 m5">
        <h3>
            <a [routerLink]="['/the-charter']">
                Come Together
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            <a [routerLink]="['/the-charter']">
                We channel our efforts through the Digital Participation
                programme so that our activities are coordinated and build on
                each other.
            </a>
        </p>
    </div>
</div>
<hr class="margin-bottom" />

<div class="row title">
    <div class="col s12">
        <h1>Signatories</h1>
    </div>
</div>
