<div class="row title">
    <div class="col s12">
        <h1>
            Signatories
            <small *ngIf="totalSigned">({{totalSigned}})</small>
        </h1>
    </div>
</div>

<div class="row search margin-bottom">
    <div class="col s12 m4 l6">
        <div class="form-group">
            <h4><label class="control-label" for="query">Search</label></h4>
            <input type="text" id="query" class="form-control validate" [(ngModel)]="query" placeholder="Search for a charter signatory" (ngModelChange)="search()" />
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="form-group">
            <h4><label for="sector" class="control-label">Sector</label></h4>
            <select class="browser-default" [(ngModel)]="sector">
                <option value="">All sectors</option>
                <option *ngFor="let term of sectors" [value]="term.term | slugify" [innerHTML]="term.term + ' (' + term.count + ')'"></option>
            </select>
        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="form-group">
            <h4><label for="category" class="control-label">Category</label></h4>
            <select class="browser-default" [(ngModel)]="category">
                <option value="" *ngIf="categories.length > 0">All categories</option>
                <option value="" *ngIf="categories.length === 0" disabled>No categories</option>
                <option *ngFor="let term of categories" [value]="term.term | slugify" [innerHTML]="term.term + ' (' + term.count + ')'"></option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l8" *ngIf="resultsTotal > 0 && !this.loading">
        <h4 class="margin-bottom">Total signatories found: {{resultsTotal}}</h4>
    </div>
    <div class="col s4 m2 l1 right-align" *ngIf="resultsTotal > 0 && !this.loading">
        <h4 class="margin-bottom"><label for="sort" class="control-label">Sort</label></h4>
    </div>
    <div class="col s8 m4 l3" *ngIf="resultsTotal > 0 && !this.loading">
        <div class="form-group sort">
            <select class="browser-default" [(ngModel)]="sort">
                <option value="signed">Date signed</option>
                <option value="a-z">Alphabetical</option>
                <!-- <option value="z-a">Alphabetical (z-a)</option> -->
            </select>
        </div>
    </div>
    <div class="col s12" *ngIf="resultsTotal === 0 && !this.loading">
        <h4>No signatories found</h4>
    </div>
    <div class="col s12" *ngIf="this.loading">
        <h4>Loading signatories <i class="fa fa-fw fa-spinner fa-spin"></i></h4>
    </div>
</div>

<div class="row signatories" *ngIf="resultsTotal > 0 && !this.loading">
    <div *ngFor="let signatory of signatories" class="col s6 m4 l3">
        <!-- <document-view *ngIf="signatory" #signatoryElement [document]="signatory" [viewPrefs]="['details']" (event)="viewEventHandler($event)" (redrawn)="viewRedrawHandler($event)"></document-view> -->
        <div class="inner">
            <signatory-result [signatory]="signatory._source"></signatory-result>
        </div>
        <!-- <div class="inner">
            <a [routerLink]="['/signatories', signatory._source['organisation-slug']]" title="{{signatory._source.organisation}}" *ngIf="signatory._source.logo">
                <img src="{{signatory._source.logo.Url}}" alt="{{signatory._source.organisation}}" class="responsive-img resize-fit-center" />
            </a>
            <a [routerLink]="['/signatories', signatory._source['organisation-slug']]" title="{{signatory._source.organisation}}" *ngIf="!signatory._source.logo">
                {{signatory._source.organisation}}
            </a>
        </div> -->
    </div>
    <!-- <div class="col s12">
        <hr class="nomargin" />
    </div> -->
</div>

<div class="row" *ngIf="resultsTotal > 0 && !this.loading">
    <div class="col s12">
        <ul class="pagination center">
            <li [ngClass]="{ disabled: !parameters.page || parameters.page == 1 }">
                <a (click)="changePage(parameters.page - 1)" role="button">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li *ngFor="let page of paging" [ngClass]="{ active: parameters.page == page }">
                <a (click)="changePage(page)" role="button">{{page}}</a>
            </li>
            <li [ngClass]="{ disabled: parameters.page == pageTotal }">
                <a (click)="changePage(parameters.page + 1)" role="button">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
