<div class="row">
    <div class="col s12 m5">
        <h1>Sign Up &amp; Skill Up for a Digitally Smarter Scotland</h1>
    </div>
    <div class="col hide-on-small-only m7">
        [main illustration]
    </div>
</div>
<hr />
<div class="row">
    <div class="col s12">
        <h3>We are on a mission, to give everyone in Scotland the basic digital
        skills they need to do their jobs, live their lives and confidently use
        dierent digital services. To do this, we need your help&hellip;</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col s12 m6">
        <h1>It’s Simple <br />To Sign Up</h1>
        <p>By signing Scotland’s Digital Participation Charter your organisation
            can commit to digitally skilling up your workforce, members and
            stakeholders. The charter provides a useful framework for support
            and training to skill up Scotland.</p>
    </div>
    <div class="col hide-on-small-only m6">
        [sign up illustration]
    </div>
</div>
