<div class="row title">
    <div class="col s12 m6">
        <h1>Stories</h1>
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
<div class="row expand detail">
    <div class="col s12 m6">
        <h3>{{pull_quote}}</h3>
        <p>&#8212; <strong><a [routerLink]="[organisation_link]">{{organisation}}</a></strong></p>
    </div>
    <div class="col hide-on-small-only offset-m1 m5">
        <div class="pull-right expand">
            <h3>
                <a [routerLink]="['/stories']">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <img src="/app/assets/images/illustrations/{{illustration}}" alt="{{organisation}} story page illustration" class="responsive-img margin-top" />
    </div>
    <div class="col s12">
        <div class="content" [innerHTML]="longer_text"></div>
        <hr class="margin-top" />
    </div>
</div>
<!-- <div class="row expand paging">
    <div class="col s12">
        <h3 class="margin-top">
            <a [routerLink]="['/stories/story-1']" [routerLinkActive]="['active']">
                <span class="number">1</span>
            </a>
            <a [routerLink]="['/stories/story-2']" [routerLinkActive]="['active']">
                <span class="number">2</span>
            </a>
            <a [routerLink]="['/stories/story-3']" [routerLinkActive]="['active']">
                <span class="number">3</span>
            </a>
        </h3>
    </div>
</div> -->
