<div id="content" [ngClass]="contentType">
    <div class="header-container">
    	<header>
            <nav id="header">
        		<div class="page-header hidden-xs bg-primary">
        			<div class="container-fluid">
        				<div class="row nav-wrapper">
        					<div class="col s9 l4 brand">
        						<h1>
                                    <a [routerLink]="['/']" class="brand-logo">
                                        <span class="digital">Digital</span>
                                        <span class="participation">Participation</span>
                                        <span class="charter">Charter</span>
                                    </a>
                                </h1>
        					</div>
        					<div class="col l8 menu-top hide-on-med-and-down">
        						<ul menu="top" class="list-inline right menu-top"></ul>
        					</div>
        					<div class="col s3 hide-on-large-only">
        						<a (click)="slidein('menu')" data-activates="mobile-menu" class="button-collapse">
        							<i class="material-icons">menu</i>
        						</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <hr class="nomargin" />
                            </div>
        				</div>
                    </div>
                </div>
            </nav>
    	</header>
    	<!-- <nav class="hide-on-med-and-down">
    		<div class="container-fluid">
    			<div class="row">
    				<div class="col s12">
    					<div class="nav-wrapper">
    						<ul menu="main" class="nav navbar-nav left menu-main"></ul>
    						<ul menu="user" class="right menu-user"></ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</nav> -->
    </div>
    <main>
    	<div class="main">
    		<div class="container-fluid">
    			<router-outlet></router-outlet>
    		</div>
    	</div>
    	<div class="clearfix"></div>
    	<div id="mobile-menu" class="side-nav side-panel">
            <a (click)="slideout()" class="pull-right close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <!-- <h3>Menu</h3> -->
    		<ul menu="mobile"></ul>
    	</div>
    </main>
</div>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 description">
                    <p>
                        Scotland's Digital Participation Charter is built and managed by the <a href="http://scvo.org.uk">Scottish Council for Voluntary Organisations</a> with support from the <a href="http://gov.scot">Scottish Government</a>.
                    </p>
                    <p>
                        <a [routerLink]="['/contact-us']">Contact us</a> |
                        <a [routerLink]="['/accessibility']">Accessibility</a> |
                        <a [routerLink]="['/privacy-and-cookies']">Privacy &amp; Cookies</a> |
                        <a [routerLink]="['/terms-and-conditions']">Terms &amp; Conditions</a>
                    </p>
                </div>
                <div class="col s12 m6 l9">
                    <p class="white-text copyright">
                        <small>&copy; {{date | date:'yyyy'}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Registration number <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.</small>
                    </p>
                </div>
                <div class="col s12 m6 l3">
                    <a href="http://gov.scot/Topics/Economy/digital">
                        <img src="/app/assets/images/logos/digital-scotland.png" alt="Digital Scotland" class="logo digital-scotland" />
                    </a>
                    <a href="http://scvo.org.uk">
                        <img src="/app/assets/images/logos/scvo.png" alt="Scottish Council for Voluntary Organisations" class="logo scvo" />
                    </a>
                </div>
                <!-- <div class="col s12 m3 l2 menu">
                    <ul class="list-inline right menu-footer" menu="footer"></ul>
                </div> -->
            </div>
        </div>
	</div>
</footer>

<div id="sidenav-overlay" (click)="slideout()" style="display:none;"></div>
