@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url("/app/assets/fonts/GilroyExtraBold.otf") format("opentype");
}

// Brand colours

$brand-typography:                  #022347;
$brand-primary:                     #a8b7ff;
$brand-charter:                     #ffa8b8;
$brand-signup:                      #6dede5;
$brand-other:                       #fce882;
$brand-skills:                      #6beda0;

$scvo-background:                   #263238;

// Base variables

$base-font-family:                  "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:                    1rem;
$base-font-weight:                  300;

$base-line-height:                  1.5;

$heading-font-family:               "Gilroy", Helvetica, Arial, sans-serif;
$heading-font-size:                 3rem;
$heading-font-weight:               700;
$heading-font-color:                #000000;

$brand-border-width:                0.2rem;

// Base styles

html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    color: $brand-typography;
    background-color: $scvo-background;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

.container-fluid {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.centre {
    text-align: center;
}

hr {
    background: transparent;
    border: none;
    border-bottom: $brand-border-width solid $brand-typography;
    margin: 3rem 0;
}

.nomargin {
    margin: 0;
}
.margin-bottom {
    margin-top: 0;
    margin-bottom: 3rem;
}

nav {
    height: 9rem;
    padding-top: 2rem;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    text-transform: uppercase;
    line-height: 1.5rem;
    background-color: transparent;
    box-shadow: none;
    .nav-wrapper {
        height: 5.5rem;
        // border-bottom: $brand-border-width solid $brand-typography;
    }
    h1 {
        margin: 0;
    }
    .brand-logo {
        display: block;
        font-size: 1.5rem;
        color: $brand-typography;
        span {
            display: block;
            line-height: 1.5rem;
        }
        .digital, .charter {
            margin-left: 0.5rem;
        }
        .participation::after {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            position: absolute;
            bottom: 0.4rem;
            right: 3.3rem;
            font-size: 1.7rem;
            content: "\f245";
        }
        .participation {
            background: white;
            border: $brand-border-width solid $brand-typography;
            border-radius: 0.15rem;
            padding: 0.1rem 0.5rem;
        }
    }
    ul {
        margin-top: 1.2rem;
    }
    ul li a.active,
    ul li a:hover {
        background: white;
        border: $brand-border-width solid $brand-typography;
        border-radius: 0.15rem;
        padding: 0.1rem 0.5rem;
    }
    ul li a {
        color: $brand-typography;
        padding: 0.3rem 0.7rem;
        font-size: 1.5rem;
        margin-left: $brand-border-width * 2;
    }
}
.header-container {
    margin-bottom: 2rem;
}

#content {
    padding-bottom: 4rem;
}

#content.detail {
    background: $brand-typography;
    hr {
        border-bottom-color: white;
    }
    h1, h2, h3, h4, p {
        color: white;
    }
    nav {
        .brand-logo {
            color: white;
            .participation {
                background-color: $brand-typography;
                border-color: white;
            }
            .participation::after {
                color: white;
                text-shadow: 1px 0 0 $brand-typography, 0 -1px 0 $brand-typography, 0 1px 0 $brand-typography, -1px 0 0 $brand-typography;
            }
        }
        ul li a {
            color: white;
        }
        ul li a:hover,
        ul li a.active {
            background-color: $brand-typography;
            border-color: white;
        }
    }
}
#content.primary {
    background: $brand-primary;
}
#content.primary-gradient {
    background: $brand-primary;
    background: -moz-linear-gradient(top, $brand-primary 0%, $brand-charter 90%);
    background: -webkit-linear-gradient(top, $brand-primary 0%,$brand-charter 90%);
    background: linear-gradient(to bottom, $brand-primary 0%,$brand-charter 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-primary', endColorstr='$brand-charter',GradientType=0 );
}
#content.charter {
    background: $brand-charter;
}
#content.charter-gradient {
    background: $brand-charter;
    background: -moz-linear-gradient(top, $brand-charter 0%, $brand-other 70%);
    background: -webkit-linear-gradient(top, $brand-charter 0%,$brand-other 70%);
    background: linear-gradient(to bottom, $brand-charter 0%,$brand-other 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-charter', endColorstr='$brand-other',GradientType=0 );
}
#content.signup {
    background: $brand-signup;
}
#content.signup-gradient {
    background: $brand-signup;
    background: -moz-linear-gradient(top, $brand-signup 0%, $brand-primary 90%);
    background: -webkit-linear-gradient(top, $brand-signup 0%,$brand-primary 90%);
    background: linear-gradient(to bottom, $brand-signup 0%,$brand-primary 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-signup', endColorstr='$brand-primary',GradientType=0 );
}
#content.other {
    background: $brand-other;
}
#content.other-gradient {
    background: $brand-other;
    background: -moz-linear-gradient(top, $brand-other 0%, $brand-skills 70%);
    background: -webkit-linear-gradient(top, $brand-other 0%,$brand-skills 70%);
    background: linear-gradient(to bottom, $brand-other 0%,$brand-skills 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-other', endColorstr='$brand-skills',GradientType=0 );
}
#content.skills {
    background: $brand-skills;
}
#content.skills-gradient {
    background: $brand-skills;
    background: -moz-linear-gradient(top, $brand-skills 0%, $brand-primary 80%);
    background: -webkit-linear-gradient(top, $brand-skills 0%,$brand-primary 80%);
    background: linear-gradient(to bottom, $brand-skills 0%,$brand-primary 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-skills', endColorstr='$brand-primary',GradientType=0 );
}


main {
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2rem;
    }
    .title {
        h1 {
            font-size: 5.8rem;
            line-height: 5.9rem;
            letter-spacing: -0.1rem;
            margin: 2rem 0 2rem;
            padding-right: 2rem;
        }
        img {
            margin-top: 2rem;
        }
    }
    .description {
        margin-bottom: 0;
        h2 {
            font-size: 3.2rem;
            margin: 4rem 0;
        }
        .btn {
            position: relative;
            margin: 6rem auto;
            padding: 0.8rem 0;
            height: auto;
            display: block;
            text-align: center;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: normal;
            border-radius: 0;
            background-color: white;
            color: $brand-typography;
            border: $brand-border-width solid $brand-typography;
            box-shadow: -0.5rem 0.5rem 0 $brand-typography;
        }
        // .btn:hover {
        //     background-color: $brand-typography;
        //     border-color: white;
        //     color: white;
        //     box-shadow: -0.5rem 0.5rem 0 white;
        // }
    }
    .title,
    .expand {
        p {
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
    .expand {
        margin-bottom: 0;
        h1 {
            font-size: 5rem;
        }
        img {
            margin: 0 auto;
            padding: 1.5rem 8rem 0;
            margin-bottom: -6px;
        }
        hr {
            margin: 0;
        }
        h4 {
            margin: 0;
            position: relative;
            a {
                padding: 1rem 0;
                display: block;
                color: $brand-typography;
                font-weight: bold;
                font-size: 1.5rem;
                .text {
                    width: 77%;
                }
                .material-icons {
                    font-weight: bold;
                    position: absolute;
                    top: 1rem;
                    right: 0.3rem;
                    font-size: 2.7rem;
                }
            }
        }
        h3 {
            margin: 0;
            a {
                padding: 2.5rem 0;
                display: block;
                color: $brand-typography;
                font-weight: bold;
                .material-icons {
                    font-weight: bold;
                    font-size: 2.7rem;
                    float: right;
                }
                .number {
                    display: block;
                    text-align: center;
                    background: #fff;
                    border-radius: 3rem;
                    height: 4.5rem;
                    line-height: 4rem;
                    border: $brand-border-width solid $brand-typography;
                    margin-top: -1rem;
                    width: 4.5rem;
                }
            }
        }
        p {
            margin: 0;
            a {
                padding: 2.5rem 0;
                display: block;
                color: $brand-typography;
                font-weight: normal;
            }
        }
    }
    .resources {
        h4 a {
            color: $brand-typography;
            opacity: 0.6;
            .material-icons {
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }
}

.footer {
    margin-top: 2rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    .copyright {
        font-size: 95%;
        p a {
            color: white !important;
            text-decoration: underline;
        }
        p {
            margin-top: 1.5rem;
        }
    }
    .logo.digital-scotland {
        margin-left: 1.5rem;
    }
    .menu ul {
        margin-top: 0;
    }
}
