<div class="row title">
    <div class="col s12 m6">
        <h1>Stories</h1>
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
<div class="row expand">
    <div class="col s12 m6">
        <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
        <p>Employee Name, <strong>Supporter Company Name</strong></p>
    </div>
    <div class="col hide-on-small-only m6">
        <img src="/app/assets/images/illustrations/Creating-RGB-04.png" alt="Creating illustration" class="responsive-img" />
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
