<div class="row title">
    <div class="col s12 m6">
        <h1>Resources</h1>
        <img src="/app/assets/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="col hide-on-small-only m6">
        <img src="/app/assets/images/illustrations/Resource-Banner.png" alt="Resources illustration" class="responsive-img pull-right" />
    </div>
</div>
<div class="row resources">
    <div class="col s12">
        <hr class="margin-bottom" />
        <h3>Resources to be added soon.</h3>
        <!-- <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4> -->
        <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4> -->
        <hr />
    </div>
</div>
