<div class="row detail title">
    <div class="col s12">
        <h1><a [routerLink]="['/resources']">Resources</a></h1>
        <h2>Help others get online</h2>
    </div>
</div>
<div class="row detail">
    <div class="col s12">
        <hr class="margin-bottom" />

        <h4><a href="http://letsgetonline.scot/help-someone-else/">Let's Get Online</a></h4>
        <p>Find help and computer courses near you in Scotland</p>

        <h4><a href="https://digital.scvo.org.uk/participation/one-digital/">Digital Champions Training</a></h4>
        <p>Free local training and support programme for third sector organisations which includes access to the Digital Champions Network. To register your interest please get in touch with our team by emailing <a href="mailto:onedigital@scvo.org.uk">onedigital@scvo.org.uk</a></p>

        <p>If you are not a third sector organisation and you're keen to develop Digital Champions in your organisation, you may wish to apply directly to join the Digital Champions Network with <a href="https://digitalunite.com/">Digital Unite</a>.</p>

        <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
        <p>Teach and assess the basic concepts and skills needed to use a computer</p>

        <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
        <p>Find out how to keep your children safe when using the internet</p>

    </div>
</div>
