<div class="row detail title">
    <div class="col s12">
        <h1><a [routerLink]="['/resources']">Resources</a></h1>
        <h2>Digital Participation Charter Logos</h2>
    </div>
</div>
<div class="row detail">
    <div class="col s12">
        <hr class="margin-bottom" />

        <p>Are you a Charter Signatory? Great!</p>

        <p>Download the resources below to help you promote your commitment to the Charter amongst your staff and stakeholders.</p>

        <p><a href="/app/assets/Brand-Guidelines-for-Signatories.pdf" download>Brand guidelines</a></p>

        <p><a href="/app/assets/Signatory-Logo-FullColour-RGB.png" download>Charter signatory logo (colour) for use on screens</a></p>

        <p><a href="/app/assets/Signatory-Logo-White-RGB.png" download>Charter signatory logo (white) for use on screens</a></p>

        <p><a href="/app/assets/Signatory-Logo-FullColour-CMYK.eps" download>Charter signatory logo (colour) for use in print</a></p>

        <p><a href="/app/assets/Signatory-Logo-White-CMYK.eps" download>Charter signatory logo (white) for use in print</a></p>

        <p><a href="/app/assets/Signatory-Logo-Suite.zip" download>Download full logo suite (zipped file)</a></p>

    </div>
</div>
