<div class="row">
    <div class="col s12">
        <h1>Resources</h1>
    </div>
</div>
<div class="row resources">
    <div class="col s12">
        <hr class="margin-bottom" />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h3>
        <h4><a href="#">Visit Site <i class="material-icons">arrow_forward</i></a></h4>
        <hr />
    </div>
</div>
