<div class="row title">
    <div class="col s12">
        <h1>Help others get online</h1>
    </div>
</div>
<div class="row detail">
    <div class="col s12">
        <hr class="margin-bottom" />

        <h4><a href="http://letsgetonline.scot/help-someone-else/">Let’s Get Online</a></h4>
        <p>Find help and computer courses near you in Scotland</p>

        <h4><a href="https://www.digitalchampionsnetwork.com/">Digital Champions Network</a></h4>
        <p>Online training and community for local digital champions</p>

        <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
        <p>Teach and assess the basic concepts and skills needed to use a computer</p>

        <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
        <p>Find out how to keep your children safe when using the internet</p>
        
    </div>
</div>
