<div class="row detail title">
    <div class="col s12">
        <h1><a [routerLink]="['/resources']">Resources</a></h1>
        <h2>Reports and publications</h2>
    </div>
</div>
<div class="row detail">
    <div class="col s12">
        <hr class="margin-bottom" />

        <h3>What works in tackling digital exclusion?</h3>

        <p>
            In August 2017 SCVO published the findings of a review of the 126 local Digital Participation Charter Fund projects which have been supported over the past three years, together with a literature review on digital exclusion carried out by the University of the West of Scotland. These reports give an insight into the current picture of digital exclusion across Scotland, as well as lessons learned on successful interventions. The full documents are available to download below:
        </p>

        <ul>
            <li>
                <a href="/app/assets/reports/Digital_Exclusion_Briefing_August_2017.pdf" download>Summary briefing paper: what works in tackling digital exclusion</a>
            </li>
            <li>
                <a href="/app/assets/reports/Tackling_Digital_Exclusion_Literature_Review.pdf" download>Literature review: rapid review of evidence for basic digital skills</a>
            </li>
            <li>
                <a href="/app/assets/reports/Charter_Fund_Review_Report.pdf" download>Charter Fund project review: overview of projects from funding rounds 1-3</a>
            </li>
        </ul>

        <h3>Other key reports</h3>

        <dl>
            <dt>
                <a href="http://heatmap.thetechpartnership.com/">Digital Exclusion Heatmap</a>
            </dt>
            <dd>
                The Get Digital Heatmap show the likelihood of digital exclusion across the UK at Local Authority level.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="http://www.lloydsbank.com/banking-with-us/whats-happening/consumer-digital-index.asp">Lloyds Banking Group – Consumer Digital Index (2017)</a>
            </dt>
            <dd>
                Statistics across the UK in relation to each of the five basic digital skills.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="http://www.cas.org.uk/publications/bridging-digital-divide">Bridging the Digital Divide: Measuring the progress of digital inclusion amongst Scottish CAB clients – Citizens Advice Scotland (2016)</a>
            </dt>
            <dd>
                A third of CAB clients find themselves digitally excluded. The report discusses some of the key challenges and makes a number of recommendations designed to help increase the uptake of the internet and computers.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="http://www.carnegieuktrust.org.uk/publications/role-digital-exclusion-social-exclusion/">Digital Participation And Social Justice In Scotland – Carnegie UK Trust (2016)</a>
            </dt>
            <dd>
                An analysis of digital exclusion and deprivation in Scotland.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="http://digital.scvo.org.uk/about/annual-report-2015/">Digital Participation in Action – SCVO (2015)</a>
            </dt>
            <dd>
                A report setting out the scale of the digital participation challenge in Scotland, what SCVO is doing about it and how you can get involved.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="https://www.goodthingsfoundation.org/research-publications/health-digital-evaluation-widening-digital-participation-programme">Health &amp; Digital – Good Things Foundation (2016)</a>
            </dt>
            <dd>
                An evaluation of a three-year programme exploring the crossover between those who are digitally excluded and those who are at risk of poor health.
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="https://www.ofcom.org.uk/research-and-data/telecoms-research/smartphone-by-default-2016">Smartphone by default' internet users – Ofcom (2016)</a>
            </dt>
            <dd>
                This qualitative research report focuses on those who conduct the vast majority of their online activities through their smartphone - either through choice or due to external factors limiting their access to alternative devices.
            </dd>
        </dl>


        <h3>Other evidence</h3>

        <p><a href="https://www.ofcom.org.uk/research-and-data/multi-sector-research/access-and-inclusion?utm_source=updates&utm_medium=email&utm_campaign=access%2C%20inclusion%20and%20affordability.%20">Access and inclusion report</a> - Ofcom (2017)</p>

        <p><a href="https://www.ofcom.org.uk/research-and-data/cmr/communications-market-reports">Communications Market Reports / Media Literacy / Telecoms Data reports</a> - Ofcom (2017)</p>

        <p><a href="https://projects.doteveryone.org.uk/digitalcommunities/index.html">Go On Local Pilots Report</a> - doteveryone (2017)</p>

        <p><a href="https://www.ofcom.org.uk/__data/assets/pdf_file/0026/80828/2016-adults-media-use-and-attitudes.pdf">Adults' media use and attitudes</a> - Ofcom (2016)</p>

        <p><a href="http://www.ageuk.org.uk/professional-resources-home/policy/active-communities/digital-inclusion/">Digital inclusion</a> - Age UK (2016)</p>

        <p><a href="http://www.deloitte.co.uk/mobileuk/assets/pdf/Deloitte-Mobile-Consumer-2016-There-is-no-place-like-phone.pdf">There’s no place like phone</a> - Deloitte (2016)</p>

        <p><a href="https://ec.europa.eu/digital-single-market/en/download-scoreboard-reports">Digital scoreboard reports</a> - European Commission (2016)</p>

        <p><a href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/science-and-technology-committee/news-parliament-2015/digital-skills-crisis-report-published-16-17/">Digital Skills Report</a> - House of Commons Science and Technology Committee (2016)</p>

        <p><a href="http://www.housing-technology.com/wp-content/uploads/2016/02/housingtechnology_digitalbydefault2016_report.pdf">Digital Inclusion in Housing</a> - Housing Technology (2016)</p>

        <p><a href="https://www.goodthingsfoundation.org/research-publications/hmrc-digital-inclusion-pilot-findings">HMRC &amp; Digital Inclusion</a> - Good Things Foundation (2016)</p>

        <p><a href="https://www.goodthingsfoundation.org/research-publications/literature-review-digital-skills-hardest-reach">Literature Review: Digital Skills for the Hardest to Reach</a> - Good Things Foundation (2016)</p>

        <p><a href="https://www.goodthingsfoundation.org/research-publications/reboot-uk-interim-findings">Reboot UK Findings</a> - Good Things Foundation (2016)</p>

        <p><a href="/app/assets/reports/StoriesfromtheDigitalDivide-QuarriersworkingwithGCIL2016.pdf" download>Stories from the Digital Divide - Quarriers working with Glasgow Centre for Inclusive Living (2016)</a>

        <p><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/householdcharacteristics/homeinternetandsocialmediausage/bulletins/internetaccesshouseholdsandindividuals/2016">Internet access in Great Britain: 2016</a> - Office for National Statistics (2016)</p>

        <p><a href="https://pure.strath.ac.uk/portal/files/45617343/Buchanan_Tuckerman_JD_2016_The_information_behaviours_of_disadvantaged_and_disengaged.pdf">Information Behaviours of Disadvantages Youth</a> - University of Strathclyde (2016)</p>

        <p><a href="http://www.ageuk.org.uk/Documents/EN-GB/For-professionals/Research/Age%20UK%20Digital%20Inclusion%20Evidence%20Review%202013.pdf?dtrk=true">Digital inclusion</a> - Age UK (2013)</p>

    </div>
</div>
