<div class="row title">
    <div class="col s12">
        <h1>Support near you and online</h1>
    </div>
</div>
<div class="row detail">
    <div class="col s12">
        <hr class="margin-bottom" />

        <p>The following sites will help you get online and develop your own basic digital skills.</p>

        <h4><a href="http://letsgetonline.scot/">Let’s Get Online</a></h4>
        <p>Find help and computer courses near you in Scotland</p>

        <h4><a href="https://www.learnmyway.com/">Learn My Way</a></h4>
        <p>Free courses on using a computer, browsing the web, sending an email and finding work online</p>

        <h4><a href="https://www.digitalunite.com/guides">Digital Unite Guide</a></h4>
        <p>Guides to improve your computer skills and boost your digital confidence</p>

        <h4><a href="https://www.sqaacademy.org.uk/course/view.php?id=651">SQA Digital Learner Guides</a></h4>
        <p>Training videos to help people with common online activities</p>

        <h4><a href="https://www.microsoft.com/en-gb/digitalliteracy/default.aspx">Microsoft Digital Literacy Curriculum</a></h4>
        <p>Teach and assess the basic concepts and skills needed to use a computer</p>

        <h4><a href="http://www.rnib.org.uk/online-today">RNIB Online Today</a></h4>
        <p>Tailored support to for people with sight and hearing problems</p>

        <h4><a href="https://mcmw.abilitynet.org.uk/">AbilityNet My Computer My Way</a></h4>
        <p>￼Specialist support to help older people and people with disabilities get more from technology</p>

        <h4><a href="https://www.getsafeonline.org/">Get Safe Online</a></h4>
        <p>Information and advice on staying safe online</p>

        <h4><a href="https://www.nspcc.org.uk/preventing-abuse/keeping-children-safe/online-safety/">NSPCC Online Safety</a></h4>
        <p>Find out how to keep your children safe when using the internet</p>

    </div>
</div>
