<div class="row title">
    <div class="col s12 m5">
        <h1>Back The Basics</h1>
        <p>
            Basic digital skills can mean different things to different folk.
            From learning new skills to access on-line services to developing
            your staff and driving your company. Our framework for basic digital
            skills is a handy tool to kickstart your thinking on how you might
            begin to put your digital charter pledges into action.
        </p>
        <img src="/app/assets/images/illustrations/Back-The-Basics-RGB-04.png" alt="Back The Basics illustration" class="responsive-img hide-on-med-and-up" />
    </div>
    <div class="col hide-on-small-only offset-m1 m5">
        <img src="/app/assets/images/illustrations/Back-The-Basics-RGB-04.png" alt="Back The Basics illustration" class="responsive-img" />
    </div>
    <div class="col hide-on-small-only m1">
        &nbsp;
    </div>
    <div class="col s12">
        <hr />
    </div>
</div>
<div class="row expand skills">
    <div class="col s12 m6">
        <h1 id="digital_skills">Digital Skills</h1>
    </div>
    <div class="col hide-on-small-only offset-m2 m4">
        <!-- [ladder illustration] -->
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
<div class="row expand skills">
    <div class="col s2 m1">
        <h3>
            <span class="number">1</span>
        </h3>
    </div>
    <div class="col s9 m4">
        <h3>
            Managing Info
        </h3>
    </div>
    <div class="col s1 hide-on-med-and-up">
        <h3>
            <a [routerLink]="['/skill-up/managing-info']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            Think about the ways in which you could improve your skills &amp;
            capabilities to find, manage and store digital information.
        </p>
    </div>
    <div class="col hide-on-small-only m1">
        <h3>
            <a [routerLink]="['/skill-up/managing-info']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
<div class="row expand skills">
    <div class="col s2 m1">
        <h3>
            <span class="number">2</span>
        </h3>
    </div>
    <div class="col s9 m4">
        <h3>
            Communicating
        </h3>
    </div>
    <div class="col s1 hide-on-med-and-up">
        <h3>
            <a [routerLink]="['/skill-up/communicating']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            Look at improvements to the ways in which you communicate,
            interact, collaborate and connect with others.
        </p>
    </div>
    <div class="col hide-on-small-only m1">
        <h3>
            <a [routerLink]="['/skill-up/communicating']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
<div class="row expand skills">
    <div class="col s2 m1">
        <h3>
            <span class="number">3</span>
        </h3>
    </div>
    <div class="col s9 m4">
        <h3>
            Transacting
        </h3>
    </div>
    <div class="col s1 hide-on-med-and-up">
        <h3>
            <a [routerLink]="['/skill-up/transacting']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            How might you better sell &amp; purchase goods, organise
            finances and make use of digital government services.
        </p>
    </div>
    <div class="col hide-on-small-only m1">
        <h3>
            <a [routerLink]="['/skill-up/transacting']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
<div class="row expand skills">
    <div class="col s2 m1">
        <h3>
            <span class="number">4</span>
        </h3>
    </div>
    <div class="col s9 m4">
        <h3>
            Problem Solving
        </h3>
    </div>
    <div class="col s1 hide-on-med-and-up">
        <h3>
            <a [routerLink]="['/skill-up/problem-solving']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            Uncover new ways to use digital tools to solve problems and
            find solutions - increasing independence and confidence
        </p>
    </div>
    <div class="col hide-on-small-only m1">
        <h3>
            <a [routerLink]="['/skill-up/problem-solving']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12">
        <hr class="nomargin" />
    </div>
</div>
<div class="row expand skills">
    <div class="col s2 m1">
        <h3>
            <span class="number">5</span>
        </h3>
    </div>
    <div class="col s9 m4">
        <h3>
            Creating
        </h3>
    </div>
    <div class="col s1 hide-on-med-and-up">
        <h3>
            <a [routerLink]="['/skill-up/creating']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12 m6">
        <p>
            Discover new and improved ways to make connections and engage
            with people through the creation of digital content.
        </p>
    </div>
    <div class="col hide-on-small-only m1">
        <h3>
            <a [routerLink]="['/skill-up/creating']">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </h3>
    </div>
    <div class="col s12">
        <hr class="margin-bottom" />
    </div>
</div>

<div class="row title">
    <div class="col hide-on-small-only m5">
        <img src="/app/assets/images/illustrations/Why-It-Matters-RGB-04.png" alt="Why It Matters? illustration" class="responsive-img" />
    </div>
    <div class="col hide-on-small-only m1">
        &nbsp;
    </div>
    <div class="col s12 m6">
        <h1>Why It Matters?</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse ut quam neque. Sed sit amet elementum dolor.
            Nam ante odio, accumsan nec mollis eget, pellentesque quis erat.
            Aenean lorem diam, rutrum id scelerisque in, cursus ut orci.
        </p>
    </div>
    <!-- <div class="col s12">
        <hr class="margin-top" />
    </div> -->
</div>
<!-- <div class="row title">
    <div class="col s12 m6">
        <h1>Sectors</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse ut quam neque.
        </p>
    </div>
</div>
<div class="row description">
    <div class="col s12 m6">
        <hr class="nomargin" />
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <hr class="nomargin hide-on-small-only" />
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
    <div class="col s12 m6">
        <p>
            Sector Listed Here
        </p>
        <hr class="nomargin" />
    </div>
</div> -->
