<div class="row expand paging hide-on-med-and-up">
    <div class="col s12">
        <h3 class="nomargin">
            <a [routerLink]="['/skill-up/managing-information']" [routerLinkActive]="['active']">
                <span class="number">1</span>
            </a>
            <a [routerLink]="['/skill-up/communicating']" [routerLinkActive]="['active']">
                <span class="number">2</span>
            </a>
            <a [routerLink]="['/skill-up/transacting']" [routerLinkActive]="['active']">
                <span class="number">3</span>
            </a>
            <a [routerLink]="['/skill-up/problem-solving']" [routerLinkActive]="['active']">
                <span class="number">4</span>
            </a>
            <a [routerLink]="['/skill-up/creating']" [routerLinkActive]="['active']">
                <span class="number">5</span>
            </a>
        </h3>
    </div>
</div>
<div class="row expand detail">
    <div class="col hide-on-small-only m4">
        <img src="/app/assets/images/illustrations/{{illustration}}" alt="{{title}} illustration" class="responsive-img margin-top" />
    </div>
    <div class="col s12 offset-m1 m7">
        <div class="pull-right expand">
            <h3>
                <a [routerLink]="['/skill-up']">
                    <!-- fragment="digital_skills" -->
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </a>
            </h3>
        </div>
        <h3><span class="number">{{number}}</span> {{title}}</h3>
        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><h4>&mdash; Individuals</h4></div>
                <div class="collapsible-body" [innerHTML]="content_individuals"></div>
            </li>
            <li>
                <div class="collapsible-header"><h4>&mdash; Organisations</h4></div>
                <div class="collapsible-body" [innerHTML]="content_organisations"></div>
            </li>
            <li>
                <div class="collapsible-header"><h4>&mdash; Safety &amp; Security</h4></div>
                <div class="collapsible-body" [innerHTML]="content_safety"></div>
            </li>
        </ul>
    </div>
</div>
<div class="row expand paging hide-on-small-only">
    <div class="col s12">
        <h3 class="margin-top">
            <a [routerLink]="['/skill-up/managing-information']" [routerLinkActive]="['active']">
                <span class="number">1</span>
            </a>
            <a [routerLink]="['/skill-up/communicating']" [routerLinkActive]="['active']">
                <span class="number">2</span>
            </a>
            <a [routerLink]="['/skill-up/transacting']" [routerLinkActive]="['active']">
                <span class="number">3</span>
            </a>
            <a [routerLink]="['/skill-up/problem-solving']" [routerLinkActive]="['active']">
                <span class="number">4</span>
            </a>
            <a [routerLink]="['/skill-up/creating']" [routerLinkActive]="['active']">
                <span class="number">5</span>
            </a>
        </h3>
    </div>
</div>
